

<script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js" integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp" crossorigin="anonymous"></script>


<form>
	<label> First Name : </label><br>
	<input type="text" name="firs_tname" id="first_name" ><br>
	<label> Last Name : </label><br>
	<input type="text" name="last_name" id="last_name" ><br>
	<label> UserName : </label><br>
	<input type="text" name="user_name" id="last_name" ><br>
	<label> Email : </label><br>
	<input type="text" name="email" id="email" ><br>
	<label> Password : </label><br>
	<input type="text" name="password" id="password" ><br>
	<button type="submit" value="Submit" hx-post="/signup/newuser" hx-include="#firstname #lastname #username #password">Submit</button>

	
</form>
